{% extends "admin/change_list.html" %}

{% block content %}


    <!-- Save Button and Total Price Row -->
    <div class="save-total-row">
        <div class="total-amount">
            Total Amount: ₹<span id="total-amount">{{ total_amount }}</span>
        </div>
        <!-- Save Button (Already Exists) -->
    </div>

    <!-- Custom HTML to place the button near the "December 2024" section -->
    <div class="filter-container">
        <div class="date-selection">
            <!-- This is where the 'December 2024' dropdown would be, so you can place your button here -->
            <button id="download-report"><a href="{{ generate_report_url }}" style="color: white;">Generate Agency Report</a>
            </button>
        </div>
    </div>
    <div class="filter-container">
        <div class="date-selection">
            <!-- This is where the 'December 2024' dropdown would be, so you can place your button here -->
            <button id="download-bulk-order-report"><a href="{{ generate_bulk_order_report_url }}" style="color: white;">Generate Bulk Orders Receipt</a>
            </button>
        </div>
    </div>
    <div id="generateReportUrl" style="display: none;">{{ generate_report_url }}</div>
    <div id="generateBulkOrderReportUrl" style="display: none;">{{ generate_bulk_order_report_url }}</div>
    
    <!-- Continue with the existing admin content -->
    {{ block.super }}
{% endblock %}

{% block extrahead %}

    {{ block.super }}
    <style>
        .filter-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        #download-report {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }
        #download-report:hover {
            background-color: #0056b3;
        }
    </style>
    
{% endblock %}

