<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta property="og:title" content="User Profile">
	<meta property="og:description" content="Here is a Profile link I wanted to share with you!">
	<meta property="og:image" content="/static/img/share_your_clips_logo.png">
	<meta property="og:url" content="https://www.agelesseatskitchen.com">
	<title>{% block title %}
		
		{% endblock title %}</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/share_your_clips_logo.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/static/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/static/plugins/fontawesome/css/all.min.css">

	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

	<!-- Slick CSS -->
	<link rel="stylesheet" href="/static/plugins/slick/slick.css">
	<link rel="stylesheet" href="/static/plugins/slick/slick-theme.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">

	<link rel="stylesheet" href="/static/plugins/dropzone/dropzone.min.css">

	<!-- Boxioons CSS -->
	<link rel="stylesheet" href="/static/plugins/boxicons/css/boxicons.min.css">

	<!-- Aos CSS -->
	<link rel="stylesheet" href="/static/plugins/aos/aos.css">

	<!-- Swiper CSS -->
	<link rel="stylesheet" href="/static/plugins/swiper/swiper.min.css">


	<!-- feature -->
	<link rel="stylesheet" href="/static/css/feather.css">



	<!-- Main CSS -->
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/message_box.css">


	<style>
		.authenticated {
			display: block;
		}

		.icon-button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			color: #333333;
			background: #dddddd;
			border: none;
			outline: none;
			border-radius: 50%;
		}

		.icon-button:hover {
			cursor: pointer;
		}

		.icon-button:active {
			background: #cccccc;
		}

		.icon-button__badge {
			position: absolute;
			top: -10px;
			right: -10px;
			width: 25px;
			height: 25px;
			background: red;
			color: #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
		}


		/* Show elements when needed */
	</style>
	{% block link %}

	{% endblock link %}
	{% block style %}

	{% endblock style %}`

</head>

<body>
	<div class="wrapper-success" id="message-box" style="position: fixed;z-index:1000000;max-width: 480px;
    min-width: 330px;">

		<div id="card" style="transition-duration: 2s;width:100%">
			<a href="#" id="common_message" style="display:flex;width:100%;">
				<div class="icon" id="message-icon-parent" style="margin-right: 15px;"><i class="fas fa-times-circle "
						id="message-icon-child"></i>
				</div>
				<div class="subject" style="width: 100%;">
					<h3 id="message-type">Success</h3>
					<p id="message-content"></p>
				</div>
			</a>
			<div class="icon-times" id="message_close"><i class="fas fa-times"></i></div>
		</div>
	</div>

	<!-- Main Wrapper -->
	<div class="main-wrapper" style="margin-top:-20px;">

		<!-- Header -->
		<header class="header">
			<div class="header-fixed">
				<nav class="navbar navbar-expand-lg header-nav scroll-sticky">
					<div class="container" style="flex-wrap: nowrap;">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="/dashboard/" class="navbar-brand logo">
								<img src="/static/img/share_your_clips_logo.png" class="img-fluid" alt="Logo" style="margin-left: 15px;
        width: 198px;
    height: 54px;
    object-position: center;
    object-fit: cover;">
							</a>
						</div>
						<div class="main-menu-wrapper menu-authenticated" >
							<div class="menu-header">
								<a href="/dashboard/" class="menu-logo">
									<img src="/static/img/share_your_clips_logo.png" class="img-fluid" alt="Logo" style="margin-left: 15px;
    width: 175px;
    height: 67px;
    object-position: center;
    object-fit: cover;">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav" id="menu-add-authenticated">
								<li >
									
									<a href="/dashboard/">Dashboard </a>

							
								</li>
								<li >
									
									<a href="/myorder/">My Orders </a>

									
								</li> 
								<li >
									
									<a href="/myclient/">My Clients </a>

							
								</li>
								<li >
									
									<a href="/support-ticket/">Support Ticket </a>

								
								</li>

							</ul>
						</div>
						<ul class="nav header-navbar-rht  authenticated">
							
							<li class="nav-item user-nav">
								<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
									<span class="user-img">
										<img id="profile_image" src="/media/profile_picture/default_profile_image.png"
											alt="Img">
										<span class="status online"></span>
									</span>
								</a>
								<div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
									<div class="user-header">
										<div class="avatar avatar-sm">
											<img id="profile_image2"
												src="/media/profile_picture/default_profile_image.png" alt="User Image"
												class="avatar-img rounded-circle">
										</div>
										<div class="user-text">
											<a href="" id="profile_username_link">
												<h6 id="profile_username">Eugene Andre</h6>
											</a>
										</div>
									</div>
									<a class="dropdown-item profile-update" href="/edit-profile/"><i
											class="feather-star me-1"></i>Edit Profile</a>

									<a class="dropdown-item" href="/create-order/"><i
											class="feather-upload me-1"></i>Create New Order
									</a>

									<a class="dropdown-item" href="/change-password/"><i class="feather-home me-1"></i>Change Password</a>

									<div class="dropdown-item" onClick="LogoutApi()"><i
											class="feather-log-out me-1"></i> Logout</div>
								</div>
							</li>

						</ul>

						<!-- Unauthenticated Navbar -->
					</div>
				</nav>
			</div>
		</header>
		<!-- /Header -->

		{% block body %}

		{% endblock body %}

		<!-- Footer -->
		<footer class="footer">

			<!-- Footer Top -->
			<div class="footer-top aos" data-aos="fade-up">
				<div class="container">
					<div class="row" style="display: flex;
    justify-content: space-between;padding: 20px 0px;
">
						<div class="col-lg-4 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<img src="/static/img/share_your_clips_logo.png" alt="logo">
								</div>
								<div class="footer-about-content">
									<p>At<b>AgelessEatsKitchen</b>, we specialize in delivering high-quality frozen foods to agencies. 
										With seamless ordering and timely delivery, we aim to make your business operations smoother and more efficient.</p>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>

						<div class="col-lg-2 col-md-6" id="footer-unauthentication">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">Quick Links</h2>
								<ul id="fan-creator-footer-common-links">
									<li><a href="/edit-profile/">Edit Profile</a></li>
									<li><a href="/change-password/">Change Password</a></li>
									<li><a href="/logout/" onclick="LogoutApi()">Logout</a></li>
	
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>



						<div class="col-lg-2 col-md-6" id="footer-common-links">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">Quick Links</h2>
								<ul id="fan-creator-footer-common-links">
									<li><a href="/dashboard/">Dashboard</a></li>
									<li><a href="/create-order/">Create Order</a></li>
									<li><a href="/myclient/">My Clients</a></li>
									<li><a href="/myorder/">Update Order</a></li>
									<li><a href="/myorder/">View Order</a></li>
	
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>


						<div class="col-lg-4 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<img src="/static/img/icon/icon-20.svg" alt="Img" class="img-fluid">
										<p>c/24 Tejendra Vihar Part-1 ViratNagar Ahmedabad<br>Gujarat, India</p>
									</div>
									<p>
										<img src="/static/img/icon/icon-19.svg" alt="Img" class="img-fluid">
										<a href="mailto:contact@agelesseatskitchen.com">orders@agelesseatskitchen.com</a>

									</p>
									<p class="mb-0">
										<img src="/static/img/icon/icon-21.svg" alt="Img" class="img-fluid">
										+1 (416) 879-9171
									</p>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Top -->

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="privacy-policy">
								<ul>
									<!-- <li><a href="term-condition.html">Terms</a></li> -->
									<!-- <li><a href="privacy-policy.html">Privacy</a></li> -->
								</ul>
							</div>
						</div>
						<div class="col-md-6 text-md-end">
							<div class="copyright-text">
								<!-- <p class="mb-0">&copy; 2024 DreamsLMS. All rights reserved.</p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Bottom -->

		</footer>
			<!-- /Footer Top -->
		
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="privacy-policy">
								<ul>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 text-md-end">
							<div class="copyright-text">
								<p class="mb-0">&copy; 2024 AgelessEatsKitchen.com. All rights reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Bottom -->
		
		</footer>
		
			<!-- /Footer Top -->


		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->

	<script src="/static/js/jquery-3.7.1.min.js"></script>

	<script src="/static/js/ckeditor.js"></script>

	<script src="/static/plugins/dropzone/dropzone.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/static/js/bootstrap.bundle.min.js"></script>

	<script src="/static/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="/static/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>


	<!-- counterup JS -->
	<script src="/static/js/jquery.waypoints.js"></script>
	<script src="/static/js/jquery.counterup.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/static/js/jquery.slimscroll.min.js"></script>
	<!-- Swiper JS -->
	<script src="/static/plugins/swiper/swiper.min.js"></script>


	<!-- Select2 JS -->
	<script src="/static/plugins/select2/js/select2.min.js"></script>

	<!-- Owl Carousel -->
	<script src="/static/js/owl.carousel.min.js"></script>

	<!-- Slick Slider -->
	<script src="/static/plugins/slick/slick.js"></script>

	<!-- Aos -->
	<script src="/static/plugins/aos/aos.js"></script>

	<!-- Custom JS -->
	<script src="/static/js/script.js"></script>

	<script>
		
		const profileId = 0
		const authenticated = localStorage.getItem("sunita_website_access_token");
		console.log(authenticated)
		const refresh_token = localStorage.getItem("sunita_website_refresh_token");

		const message_box = document.getElementById("message-box");
		const message_content = document.getElementById("message-content");
		const message_type = document.getElementById("message-type");
		const message_icon_parent = document.getElementById("message-icon-parent");
		const message_icon_child = document.getElementById("message-icon-child");

		const card = document.getElementById("card");
		
		if (authenticated){
			console.log("yes")
			fetch(`${window.location.origin}/api/user/get-user-single/`,{
				method:"GET",
				headers:{
					"content-type": "application/json",
						"Authorization": `Bearer ${authenticated}`
				},
				
			}).then((response)=>{
				return response.json()
			}).then((response)=>{
				console.log(response.data)
				if (response.success){
					profileId=response.data.id
					document.getElementById("profile_image").src=response.data.profile_picture
					document.getElementById("profile_image2").src=response.data.profile_picture
					document.getElementById("profile_username").innerHTML=response.data.username
					if (document.getElementById("profile_page_image")){
						console.log("image")
					document.getElementById("profile_page_image").src=response.data.profile_picture

					}
					if (document.getElementById("profile_page_username2")){
						console.log("username")

						document.getElementById("profile_page_username2").innerHTML=response.data.username
	
						}
					
				}
				else{
					message_content.innerHTML = response.message;
					card.style.display = "block";
					card.style.borderLeft = "10px solid red";
					message_type.innerHTML = "Oops";
					message_type.style.color = "red";
					message_icon_parent.style.color = "red";
					message_icon_child.classList = "fas fa-times-circle";
				}
			})
		}
		else{
			window.location.href="/"
		}
		
		async function LogoutApi() {
			card.style.display = "none";
			if (!confirm("Are you sure you want to log out?")) {
				return; // Exit the function if the user cancels
			}
			if (authenticated) {
				token = authenticated
				data = {
					"refresh_token": refresh_token
				}
				await fetch(`${window.location.origin}/api/user/logout/`, {
					"method": "POST",
					"headers": {
						"content-type": "application/json",
						"Authorization": `Bearer ${token}`
					},
					"body": JSON.stringify(data)

				}).then((response) => {
					return response.json()
				}).then((response) => {
					if (response.success) {
						localStorage.removeItem("sunita_website_access_token")
						localStorage.removeItem("sunita_website_refresh_token")

						card.style.display = "flex";
						card.style.borderLeft = "10px solid green";

						message_content.innerHTML = response.message;
						message_type.innerHTML = "Success";
						message_type.style.color = "green";
						message_icon_parent.style.color = "green";
						message_icon_child.classList = "fas fa-check-circle";

						setTimeout(() => {
							window.location.href = "/"
						}, 3000)

					}
					else {
						message_content.innerHTML = response.message;
						card.style.display = "flex";
						card.style.borderLeft = "10px solid red";
						message_type.innerHTML = "Oops";
						message_type.style.color = "red";
						message_icon_parent.style.color = "red";
						message_icon_child.classList = "fas fa-times-circle";
					}
					setTimeout(() => {
						card.style.display = "none";

					}, 3000)

				}).catch((error) => {
					message_content.innerHTML = "An error occurred. Please try again.";
					card.style.display = "block";
					card.style.borderLeft = "10px solid red";
					message_type.innerHTML = "Oops";
					message_type.style.color = "red";
					message_icon_parent.style.color = "red";
					message_icon_child.classList = "fas fa-times-circle";

					setTimeout(() => {
						card.style.display = "none";
					}, 3000);
				});
			}
		}

		document.getElementById("message_close").addEventListener('click', () => {
			const card = document.getElementById("card");
			if (card) {
				card.style.display = "none"; // Hide the card
				// Or, if you want to completely remove the card from the DOM:
				// card.remove();
			}
		});




		

	</script>
	{% block script %}

	{% endblock script %}



</body>

</html>