{% extends "base.html" %}
{% block title %}
change-password
{% endblock title %}
{% block style %}

{% endblock style %}
{% block body %}


<!-- Breadcrumb -->
<div class="breadcrumb-bar breadcrumb-bar-info" style="margin-top: 100px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-12">
				<div class="breadcrumb-list">
					<h2 class="breadcrumb-title">Change Password</h2>
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
							<li class="breadcrumb-item active" aria-current="page">Change Password</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="page-content">
	<div class="container">
		<div class="row">

			<!-- sidebar -->
			<div class="col-xl-3 col-lg-3 theiaStickySidebar">
				<div class="settings-widget dash-profile">
					<div class="settings-menu">
						<div class="profile-bg">
							<div class="profile-img">
								<a href="/myprofile/" class="profile-update"><img id="profile_page_image"
									src="/media/profile_pictures/default_profile_image.png" alt="Img"></a>
							</div>
						</div>
						<div class="profile-group">
							<div class="profile-name text-center">
								<h4 id="profile_page_username2"> Username</h4>
								<a href="/create-video/" class="add-course btn-primary">
									<i class="fas fa-upload"></i> Create New Order
								  </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Sidebar -->

			<!-- Instructor Settings -->
			<div class="col-xl-9 col-lg-9">

				<div class="settings-widget card-details">
					<div class="settings-menu p-0">
						<div class="profile-heading">
							<h3>Change Password</h3>
							<p>You have full control to manage your own account Change Password</p>
						</div>
						<form action="#" id="form-content">
							<div class="checkout-form settings-wrap">
								<div class="row">
									<div class="col-md-6">
										<div class="input-block">
										</div>
										<div class="input-block">
											<label class="form-label">New Password</label>
											<input type="password" class="form-control" id="password" required>
										</div>
										<div class="input-block">
											<label class="form-label">Re-type New Password</label>
											<input type="password" class="form-control" id="password2" required>
										</div>
										<button class="btn btn-primary" role="submit" id="reset_password">Reset
											Password</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Instructor Settings -->

		</div>
	</div>
</div>
<!-- /Page Content -->
{% endblock body %}
{% block script %}
<script>

	password = document.getElementById("password")
	password2 = document.getElementById("password2")

	if (authenticated) {
		userApi = async () => {
            await fetch(`${window.location.origin}/api/user/get-user-single/`, {
                "method": "get",
                "headers": {
                    "content-type": "application/json",
                    "Authorization": `Bearer ${authenticated}`
                }
            }).then((response) => {
                return response.json()
            }).then((response) => {
                if (response.success) {
                    user_id = response.data.id
                    username = response.data.username
                    userprofileid=response.data.id
								console.log(response.data.image);
								document.getElementById("profile_image").src = `${response.data.profile_picture}`;
								document.getElementById("profile_image2").src = `${response.data.profile_picture}`;
								document.getElementById("profile_username").innerHTML = `${response.data.username}`;
					document.getElementById("profile_page_image").src=response.data.profile_picture

								
                    document.getElementById("profile_page_username2").innerHTML = `${response.data.username}`;
								
                    //followers_following();
                }
                console.log(response)
            })
        }
        userApi()

		document.getElementById("form-content").onsubmit = async (e) => {
			card.style.display="none"
			e.preventDefault();
			data = {
				"password": password.value,
				"password2": password2.value,

			}
			await fetch(`${window.location.origin}/api/change-password/`, {
				method: "POST",
				headers: 
					{
						"content-type": "application/json",
						"Authorization": `Bearer ${authenticated}`
					},
					body: JSON.stringify(data)
				}).then((response)=>{
					return response.json()
				}).then((response)=>{
					if(response.success){

						card.style.display = "flex";
							card.style.borderLeft = "10px solid green";
	
							message_content.innerHTML = response.message;
							message_type.innerHTML = "Success";
							message_type.style.color = "green";
							message_icon_parent.style.color = "green";
							message_icon_child.classList = "fas fa-check-circle";

						password.value=""
						password2.value=""

						setTimeout(()=>{
							card.style.display="none"
						},2500)

	
					}
					else{
						message_content.innerHTML = response.message;
						card.style.display = "flex";
							card.style.borderLeft = "10px solid red";
							message_type.innerHTML = "Error";
							message_type.style.color = "red";
							message_icon_parent.style.color = "red";
							message_icon_child.classList = "fas fa-times-circle";
					}
				})
		}
		}
	else{
		window.location.href="/"
	}
		

</script>
{% endblock script %}
<!-- Footer -->